@{ ViewData["Title"] = "Nome"; }

&nbsp
<h3>Projeto da Disciplina de POO </h3>
&nbsp
<h3>Nome: Adriano Andrade</h3>

&nbsp
<address>
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/adriano-andrade-baa247144/">Contato-Profissional</a><br />
    <strong>Git-Hub:</strong> <a href="https://github.com/adrianoandrad7">Meu-Portfólio</a><br />
</address>
